<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Titans_project"
        tools:targetApi="31">
        <activity
            android:name=".SendNotification"
            android:exported="false" />
        <activity
            android:name=".NotificationView"
            android:exported="false" />
        <activity
            android:name=".MyCreatedEventsView"
            android:exported="false" />
        <activity
            android:name=".CreateEventView"
            android:exported="false" />
        <activity
            android:name=".BrowseContentView"
            android:exported="false"/>
        <activity
            android:name=".ProfileView"
            android:exported="false" />
        <activity
            android:name=".EventDetailView"
            android:exported="false" />
        <activity
            android:name=".MyApplicationsView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Titans_project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".QRCodeActivity"
            android:exported="true"
            android:theme="@style/Theme.Titans_project">
        </activity>
        <activity
            android:name=".QRScannerActivity"
            android:exported="true" />
        <activity
            android:name=".ScannedEventDetailActivity"
            android:exported="true" />
        <activity
            android:name=".AttendeesActivity"
            android:exported="true" />
        <activity
            android:name=".WaitlistActivity"
            android:exported="true" />
        <activity
            android:name=".LotteryActivity"
            android:exported="true" />
        <activity
            android:name=".ViewLotteryActivity"
            android:exported="true" />
        <activity
            android:name=".AcceptedEventsActivity"
            android:exported="true" />
    </application>

</manifest>